{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

<h1>{{ product.name }}</h1>
<p>Prix : {{ product.price }}€</p>
<p>Description : {{ product.description }}</p>

<!-- Bouton Ajouter au panier -->
<a href="{{ path('app_cart_add', { 'id': product.id }) }}" class="btn btn-primary">🛒 Ajouter au panier</a>

<!-- Bouton Retour aux produits -->
<a href="{{ path('app_products') }}" class="btn btn-secondary">⬅ Retour aux produits</a>


{% endblock %}
